@model IEnumerable<admin.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Requests</h1>





    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/img/modern-education-system.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Requests" asp-action="Catigory" asp-route-type="Study">Study</a></h5>
                <p class="card-text">Here you can find all the requests of Study type.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="~/img/56ea63f9d7ec42b183f8e082de7b79ea.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Requests" asp-action="Catigory" asp-route-type="Medical">Medical</a></h5>
                <p class="card-text">Here you can find all the requests of Medical type.</p>

            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="~/img/ing_kindness-week.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Requests" asp-action="Catigory" asp-route-type="Humanity">Humanity</a></h5>
                <p class="card-text">Here you can find all the requests of Humanity type.</p>

            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="~/img/images.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Requests" asp-action="Catigory">Other</a></h5>
                <p class="card-text">Here you can find all other requests.</p>

            </div>
        </div>







    </div>
