@model IEnumerable<admin.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Requests</h1>

<div class="row">
    <a asp-controller="Requests" asp-action="Catigory" asp-route-type="Study">
        <div class="col-md-3">
            <div class="card">
                <img src="~/img/modern-education-system.jpg" style="height: 180px; width: 100%; display: block;">
                <div class="card-body">
                    <h3 class="card-header">Study</h3>
                </div>
            </div>
        </div>
    </a>
    

    <div class="col-md-3">
        <div class="card">
            <img src="~/img/modern-education-system.jpg" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
                <h3 class="card-header">Study</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <img src="~/img/modern-education-system.jpg" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
                <h3 class="card-header">Study</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card" >
            <img src="~/img/modern-education-system.jpg" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
                <h3 class="card-header">Study</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card" style="height:180px; width=40">
            <img src="~/img/modern-education-system.jpg" style="height: 180px; width: 100%; display: block;">
            <div class="card-body" style="height:180px; width=40">
                <h3 class="card-header">Study</h3>
            </div>
        </div>
    </div>


</div>